body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #d3caca;
    font-family: montserrat , sans-serif;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.card{
    width: 230px;
    background-color: #fff;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 2px 10px 2px #000;
}

.details{
    width: 70%;
    margin: auto;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
}

.package{
    font-size: 20px;
    line-height: 0.5;
    font-weight: 800;
}

.dollar{
    font-size: 20px;
}

.middle{
    background: rgb(2, 131, 186);
    background: linear-gradient(45deg, rgba(2, 131, 186, 1) 29%,
    rgba(62 , 187, 240, 1) 57%);
    color: #fff;
    height: 370px;
    z-index: 1;
}

.middle hr{
    color: #fff;
}

.price{
    font-size: 33px;
    font-weight: 700;
}

.card-btn{
    width: 100%;
    font-weight: 600;
    color: #fff;
    background-color: lightblue;
    border: 0;
    margin: 13px 0;
    cursor: pointer;
    height: 30px;
    border-radius: 5px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-family: inherit;
    letter-spacing: 2px;
}

.btn-one{
    background: rgb(2, 131, 186);
    background: linear-gradient(45deg, rgba(2, 131, 186, 1) 29%,
    rgba(62 , 187, 240, 1) 57%);
}

.btn-two{
    background-color: rgb(228, 228, 228);
    color: rgb(2, 131, 186);
    color: linear-gradient(45deg, rgba(2, 131, 186, 1) 29%,
    rgba(62 , 187, 240, 1) 57%);
}

.btn-one:hover{
    background: rgb(2, 131, 186);
    background: linear-gradient(45deg, rgb(0, 26, 37) 29%,
    rgb(3 , 58, 82) 57%);
}

.btn-two:hover{
    background-color: #fff;
    transition: 0.5s;
}

@media (max-width:730px){
    .container{
        flex-direction: column;
    }

    .card{
        margin: 15px;
    }

    .middle{
        height: auto;
    }
}