@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@500;600&display=swap");

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    background-color: #3bbb46;
    background-image: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

img{
    height: 50px;
    width: 50px;
}

.container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

form{
    width: 420px;
    height: 400px;
    background-color: rgb(0, 0, 0, 0.384);
}

.form-container{
    width: 60%;
    margin: auto;
    margin-top: 15%;
}

.form-container>div{
    text-align: left;
}

input{
    background: transparent;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    height: 35px;
    font-size: 18px;
    width: 100%;
    padding-top: 20px;
}

input:focus{
    transition: 0.5s ease-in-out;
    border-bottom: 2px solid rgb(22, 255, 2);
    outline: none;
}

input:focus ~label{
    font-size: 20px;
}

label{
    color: rgb(22, 255, 2);
    font-weight: 600;
    font-size: 17px;
    transition: all 0.5s;
    position: absolute;
}

button{
    width: 50%;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: montserrat,sans-serif;
    height: 45px;
    background-color: rgb(12, 157, 0);
    transition: 0.5s;
    margin-top: 45px;
}

button:hover{
    background-color: #fff;
    color: rgb(12, 157, 0);
}
