/*
h1{
    color: red;
}
.a{
    color:blue;
}
#b{
    color:yellow ;
}
*/
/* way 1
.c{
    color: red;
}
*/
/*
#d{
    color: blue;
}
*/
/*
.aa{
    color: red;
}
*/
/*
section + p{
    color: red;
}
*/
/*
section ~ p{
    color: aqua;
}
*/
/*
h1.a{
    color: red;
}
*/
/*
p::first-line{
    color: blue;
}
p::first-letter{
    color: red;
}
*/
h1{
    color: red;
    }
h1:hover{
color: blue;
}













